<div class="eventListContainer">
  <div class="eventListTitle">
    <span class="listText">{{label}}</span>
  </div>
  {{#each events as |event| }}
      {{event-item event=event}}
  {{/each}}
</div>
