{{#if showLandingPage}}
<div class="landingMain">
  <div class="multimedia">
    <img class="landingMedia" src="/uploads/default/original/1X/966b79a2bdee56af723a46556ca8955125914a12.png" alt="Holding image" />
  </div>
  <div class="clockMain">
    <div class="clockWrapper" id="clockdiv">
      <span class="clockText">Some Time Should be updating here</span>
    </div>
  </div>

  <div class="eventsWrapper">
    <div class="eventListWrapper">
      {{event-list events=liveEvents label="Now On"}}
    </div>
    
    <div class="eventListWrapper">
      {{event-list events=nextEvents label="Coming Up"}}
    </div>
    

    <div class="eventListWrapper otherWrapper">
      <div class="otherItemList">
        <a href="http://google.com" class="landingButton scheduleButton">Schedule of Discussions (PDF)</a>
        <a href="http://yahoo.com" class="landingButton strategyButton">Outline Strategy (PDF)</a>
        <a
          class="twitter-timeline"
          href="https://twitter.com/scienceirel"
          data-height="500">Tweets by Science Foundation Ireland</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
</div>
{{/if}}