{{#if showLandingPage}}
<div class="landingMain">
  <div class="multimedia">
    <img class="landingMedia" src="/uploads/default/original/1X/966b79a2bdee56af723a46556ca8955125914a12.png" alt="Holding image" />
  </div>
  <div class="clockMain">
    <div class="clockWrapper" id="clockdiv">
      
      <div class="timeWrapper daysWrapper">
        <span class="days timeNumber">00</span>
        <div class="smalltext">Days</div>
      </div>
      
      <div class="timeWrapper hoursWrapper">
        <span class="hours timeNumber">0</span>
        <div class="smalltext">Hours</div>
      </div>
      
      <div class="timeWrapper minutesWrapper">
        <span class="minutes timeNumber">0</span>
        <div class="smalltext">Minutes</div>
      </div>
      
      <div class="timeWrapper secondsWrapper">
        <span class="seconds timeNumber">0</span>
        <div class="smalltext">Seconds</div>
      </div>
    </div>
  </div>

  <div class="eventsWrapper">
    <div class="eventListWrapper">
      {{event-list events=liveEvents label="Now On"}}
    </div>
    
    <div class="eventListWrapper">
      {{event-list events=nextEvents label="Coming Up"}}
    </div>
    

    <div class="eventListWrapper otherWrapper">
      <div class="otherItemList">
        <div class="pdfButton scheduleButton">
          <a href="/uploads/default/original/1X/23e75271e2f34bd636c0757faa279c075f5b1192.pdf"
            target="_blank" class="landingButton scheduleButton">Schedule of Discussions (PDF)</a>
        </div>
        <div class="pdfButton strategyButton">
          <a href="/uploads/default/original/1X/7b4d9ab9ef5bb2c3dbac5bfb0d05da0bc3495ad5.pdf"
            target="_blank" class="landingButton strategyButton">Outline Strategy (PDF)</a>
        </div>
        <a
          class="twitter-timeline"
          href="https://twitter.com/scienceirel"
          data-height="500">Tweets by Science Foundation Ireland</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
</div>
{{/if}}