{{#if showLandingPage}}
<div class="landingMain">
  <div class="multimedia">
    <img class="landingMedia" src="/uploads/default/original/1X/ec7f1e8de046abf3a4763c80df32a6928d998447.gif" alt="Holding image" />
  </div>
  <div class="clockMain">
    <div class="clockWrapper" id="clockdiv">
      
      <div class="timeWrapper daysWrapper">
        <span class="days timeNumber">00</span>
        <div class="smalltext">Days</div>
      </div>

      <div class="separatorWrapper">
        <span class="clockSeparator">&#58;</span>
      </div>
      
      <div class="timeWrapper hoursWrapper">
        <span class="hours timeNumber">0</span>
        <div class="smalltext">Hours</div>
      </div>
      
      <div class="separatorWrapper">
        <span class="clockSeparator">&#58;</span>
      </div>

      <div class="timeWrapper minutesWrapper">
        <span class="minutes timeNumber">0</span>
        <div class="smalltext">Minutes</div>
      </div>
      
      <div class="separatorWrapper">
        <span class="clockSeparator">&#58;</span>
      </div>

      <div class="timeWrapper secondsWrapper">
        <span class="seconds timeNumber">0</span>
        <div class="smalltext">Seconds</div>
      </div>
    </div>
  </div>

  <div class="eventsWrapper">
    <div class="eventListWrapper">
      {{event-list events=liveEvents label="Now On"}}
    </div>
    
    <div class="eventListWrapper">
      {{event-list events=nextEvents label="Coming Up"}}
    </div>


    <div class="eventListWrapper otherWrapper">
      <div class="otherItemList">
        <div class="pdfButton scheduleButton">
          <a href="/uploads/default/original/1X/23e75271e2f34bd636c0757faa279c075f5b1192.pdf"
            target="_blank" class="landingButton scheduleButton">Schedule of Discussions (PDF)</a>
        </div>
        <div class="pdfButton strategyButton">
          <a href="/uploads/default/original/1X/2804700c5748f06030c0ba60b6b9a6bf80cebebc.pdf"
            target="_blank" class="landingButton strategyButton">Outline Strategy (PDF)</a>
        </div>
        <div class="pdfButton aboutButton">
          <a href="/uploads/default/original/1X/ddd2f0700e8631c8824cd86982aa97b0a9015e67.pdf"
            target="_blank" class="landingButton aboutButton">About SFI Engage (PDF)</a>
        </div>
        <a
          class="twitter-timeline"
          href="https://twitter.com/scienceirel"
          data-height="500">Tweets by Science Foundation Ireland</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
</div>
{{/if}}